In [78]:
import pandas as pd
import numpy as np

In [134]:
# set stock to look after 

stockname = 'RAD'

In [100]:
d = pd.read_html('https://www.macrotrends.net/stocks/charts/{}/tesla/shares-outstanding'.format(stockname))

In [101]:
print('Sono state trovate {} tabelle'.format(len(d)))

Sono state trovate 6 tabelle

In [102]:
for i in range(len(d)):
    if ((str(d[i]).count('Q2')>1)&(str(d[i]).count('Q3')>1)&(str(d[i]).count('Q3')>1)):
        idtable = i
        print ('the {}° table with id [{}] is the one with quarterly records'.format(i+1,idtable))

the 2° table with id [1] is the one with quarterly records

In [104]:
df=d[idtable]
new = d[idtable].iloc[:,0].str.split(" ", n = 1, expand = True) 
df['year']=new[1]
df['quarter']=new[0]
df.drop(df.columns[0], axis=1)
dfgr = df.groupby('year').mean()
dfgr.dropna(inplace=True)
dfgr

      Rite Aid Quarterly Shares Outstanding(Millions of Shares).1
year
2005                                              27.50
2006                                              28.25
2007                                              33.00
2008                                              40.25
2009                                              43.50
2010                                              44.00
2011                                              44.00
2012                                              44.50
2013                                              47.75
2014                                              50.25
2015                                              51.50
2016                                              52.75
2017                                              52.75
2018                                              52.75
2019                                              53.25

In [132]:
dfgr.iloc[:,0].to_dict()

{'2005': 27.5,
 '2006': 28.25,
 '2007': 33.0,
 '2008': 40.25,
 '2009': 43.5,
 '2010': 44.0,
 '2011': 44.0,
 '2012': 44.5,
 '2013': 47.75,
 '2014': 50.25,
 '2015': 51.5,
 '2016': 52.75,
 '2017': 52.75,
 '2018': 52.75,
 '2019': 53.25}

## Get list competitors

In [137]:
d1 = pd.read_html('http://usfundmanager.com/CompanyReport/{}_C.html'.format(stockname))
list_comp = d1[1].columns.tolist()[2:]
list_comp_fin=[]
for i in list_comp:
    list_comp_fin.append(i.replace('(','').replace(')',''))
list_comp_fin

['CJJD', 'GNC', 'PETS', 'RAD', 'WBA']